<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput>
        </div>
        <div class="col-sm-1 from-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="block btn btn-success" (click)="onAddItem()">Add</button>
          <button class="block btn btn-danger ms-2">Delete</button>
          <button class="block btn btn-primary ms-2">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
